{% extends 'base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block body %}

<div class="container-fluid">
<div class="row justify-content-center">

    <h1 class="col-12 text-center">{{machine.name}}</h1>
    
    <div class="col-lg-4 col-8">
        <img src="{{  asset('uploads/machines/'~machine.image ) }}" class="col-12">

    </div>
    <div class="col-lg-8 col-10">

        {% if statistics is not empty %}  
        <canvas id="myChart"></canvas>
        {% endif %}
    </div>
</div>


</div>

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


{% if  arrayTime is empty %}

{% set arrayStat = arrayWeight %}

{% elseif arrayWeight is empty %}

{% set arrayStat = arrayTime %}


{% endif %}
<script>


// parse labels and data

var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
   type: 'line',
   data: {
      labels: {{arrayDate|json_encode()|raw}},
      datasets: [{
        {% if arrayTime is not empty %}
        label: 'Statistiques/Temps',
         backgroundColor: 'rgb(255, 99, 132)',
         borderColor: 'rgb(255, 99, 132)',
        {% else %}
        label: 'Statistiques/Poids',
         backgroundColor: 'rgb(120, 255, 100)',
         borderColor: 'rgb(120, 255, 100)',

        {% endif %}
         
         data: {{arrayStat|json_encode()|raw}},
         borderWidth: 1
      }]
   },
   options: {
    responsive: true,
    title: {
        display: true,
        text: 'Statistiques'
    },
      scales: {
        xAxes: [{
            display: true,
                
            scaleLabel: {
              display: true,
              labelString: 'Date'
            },
        }],
         yAxes: [{
            scaleLabel: {
                display: true,
                {% if arrayTime is not empty %}
                labelString: 'Temps'
                {% else %}
                labelString: 'Poids'

                {% endif %}
            }
         }]
      },
   }
});

</script>

{% endblock %}
{% endblock %}
