{% extends 'base.html.twig' %}

{% block title %}Machine{% endblock %}

{% block body %}

<div class="container">

    {% set category = "" %}
        <div class="row">
    {% for machine in machines %}



        {% if category != machine.machineCategory.name %}
    
        {% set category = machine.machineCategory.name %}
    
        <h1 class="col-12">{{category}} </h1>
            
        {% endif %}

        <div class="card mt-md-0 mt-4 col-lg-3 col-md-5 col-10 offset-1">
            <img class="card-img-top" src="{{  asset('uploads/machines/'~machine.image ) }}">
            <div class="card-body">
              <h5 class="card-title">{{machine.name}}</h5>
              {% if app.user %}
                  
              <a href="{{path('statistic_index', {'id': machine.id})}} " class="btn btn-primary">Voir les statistiques</a>
              {% endif %}
            </div>
          </div>
    </a>

    
    
    {% endfor %}
</div>


</div>


{% endblock %}
